---
author: Paulo Fidalgo
title: Paulo Fidalgo Resume
layout: default
permalink: /resume/
---
<div class="card card-outline-primary mb-3 bg-faded">
  <div class="card-block">
    <p class="card-text">
      Paulo Fidalgo is software engineer, with a computer science master's degree who have been working with Ruby, Rails and Java technologies.
       Living near Porto, Portugal and working remotely started in the Telco market working in the backend areas of SMS-Centres integrations and real-time audio, video and chats.
       A move to the startup scene allowed him to work on Big Data and Natural Language Processing to create awesome business matchmaking technology.
       Currently his work on the call routing systems helps Talkdesk providing brilliant customer interactions.
    </p>
  </div>
</div>

<h2>Experience</h2>

{% assign positions=site.positions | sort: "start_date" | reverse %}

{% for position in positions %}

<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <h4 class="card-title">{{ position.employer }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ position.title }}</h6>
    <p class="card-text">{{ position.output }}</p>
    <p class="card-text">
      <small class="text-muted">
        {{ position.start_date | date: '%B %Y' }} &mdash; {% if position.end_date %}{{ position.end_date | date: '%B %Y' }}{% else %}Present{% endif %}
      </small>
    </p>
    {% assign technologies = position.technologies | split: ","%}
  <div class="col">
  {% for technology in technologies %}
    <span class="badge badge-pill badge-primary">{{technology}}</span>
  {% endfor %}
  </div>
</div>
</div>

{% assign previous_employer=position.employer %}
{% endfor %}

<div class="mt-5"></div>
<h2>Education</h2>

<div class="card-deck">
<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <h4 class="card-title">Master's Degree in Computer Science</h4>
    <h6 class="card-subtitle mb-2 text-muted">2008</h6>
    <p class="card-text">Universidade de Evora</p>
  </div>
</div>

<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <h4 class="card-title">Graduation in Computer Science</h4>
    <h6 class="card-subtitle mb-2 text-muted">2006</h6>
    <p class="card-text">Universidade de Evora</p>
  </div>
</div>
</div>

<div class="mt-5"></div>
<h2>Languages</h2>
<div class="card-deck">
<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <h4 class="card-title">Portuguese</h4>
    <h6 class="card-subtitle mb-2 text-muted">Native</h6>
  </div>
</div>
<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <h4 class="card-title">English</h4>
    <h6 class="card-subtitle mb-2 text-muted">Full professional proficiency</h6>
  </div>
</div>
<div class="card card-outline-primary mb-3">
  <div class="card-block">
    <h4 class="card-title">Spanish</h4>
    <h6 class="card-subtitle mb-2 text-muted">Limited working proficiency</h6>
  </div>
</div>
</div>
