<div class=" mb-3 text-center">
  <blockquote class="card-blockquote">
    <p>If you want to ask some question or share your thoughts please contact me from the links on the left.</p>
    <footer>To share this post, use these links:</footer>
  </blockquote>

  <div class="social-icons ">
    <section id="social-share-section">
      <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" title="Share on Twitter">
        <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook">
        <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+">
        <i class="fa fa-fw fa-google-plus" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" title="Share on LinkedIn">
        <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>
      </a>
    </section>
  </div>

</div>
