<div class="d-flex align-items-start flex-column sidebar">
  <div class="text-center p-2">
    <img class="img-fluid mx-auto rounded-circle img-thumbnail" src="/assets/images/profile.png" alt="Paulo Fidalgo" />
    <br><br>
    <h5 class="text-center">{{ site.description}}</h5>
  </div>

  <div class="mb-auto mx-auto p-2 hidden-print">
    <div class="mt-5"></div>
    <p><a class="" href="/">Blog</a></p>
    <p><a class="" href="/resume">Resume</a></p>
  </div>

  <div class="mx-auto p-2">
    <p class="text-center">Contact me</p>
    {% include social_links.html %}
  </div>
</div>
