<div class="d-flex align-items-start flex-column sidebar">
    <div class="text-center p-2">
        <img class="img-fluid mx-auto rounded-circle img-thumbnail" src="/assets/images/profile.jpg" alt="Paulo Fidalgo" />
        <br><br>
        <h5 class="text-center">{{ site.description}}</h6>
    </div>

    <div class="mb-auto p-2 hidden-print">
        <!-- <nav class="nav flex-column">
            <a class="nav-link" href="/resume">Resume</a>
        </nav> -->
    </div>

    <div class="text-center p-2">
        {% include social_links.html %}
    </div>
</div>
