<ul class="resume-social list-unstyled">
  <li class="mb-3"><a href="{{site.github}}"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>{{site.github}}</a></li>
  <li class="mb-3"><a href="{{site.twitter}}"><span class="fa-container text-center mr-2"><i class="fab fa-twitter fa-fw"></i></span>{{site.twitter}}</a></li>
  <li class="mb-3"><a href="{{site.stackoverflow}}"><span class="fa-container text-center mr-2"><i class="fab fa-stack-overflow fa-fw"></i></span>{{site.stackoverflow}}</a></li>
  <li class="mb-3"><a href="{{site.linkedin}}"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>{{site.linkedin}}</a></li>
</ul>
