{% assign positions=site.positions | sort: "start_date" | reverse %} {% for position in positions %}
<article class="resume-timeline-item position-relative pb-5">
  <div class="resume-timeline-item-header mb-2">
    <div class="d-flex flex-column flex-md-row">
      <h3 class="resume-position-title font-weight-bold mb-1">{{ position.title }}</h3>
      <div class="resume-company-name ml-auto">{{ position.employer }}</div>
    </div>
    <div class="resume-position-time">
      {{ position.start_date | date: '%B %Y' }} &mdash; {% if position.end_date %}{{ position.end_date | date: '%B %Y' }}{% else %}Present{% endif %}
    </div>
  </div>
  <div class="resume-timeline-item-desc">
    <p>{{ position.description }}</p>
    {% if position.projects %}
    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Projects:</h4>
    <ul>
      {% for project in position.projects %}
      <li>{{project | textilize}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if position.technologies %}
    {% assign technologies = position.technologies | split: "," %}

    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
    <ul class="list-inline">

      {% for technology in technologies %}
      <li class="list-inline-item"><span class="badge badge-primary badge-pill">{{technology}}</span></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
{% if position.page_break %} <span class="page-break"></span> {% endif %}
{% assign previous_employer=position.employer %} {% endfor %}
